API_URL=http://localhost:80
NUXT_AUTH_SECRET="23sg35346t3ygeg346346346"
#SSO
GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=http://localhost:3000/login/

FACEBOOK_APP_ID=
FACEBOOK_CALLBACK_URL=http://localhost:3000/login/

GITHUB_CLIENT_ID=
GITHUB_CALLBACK_URL=http://localhost:3000/login/